.body{

    background-color : #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    font-family: Arial;
}


.Login {
    display: flex;
    flex-direction: column;
    padding:30px;
    border-radius: 15px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid #4f46e5;
    background-color: #2e2e2e;
}

.h{
    color: white;
    text-align: center;
    font-size: 20px;
}   

.input{
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    border:1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


.erro {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}   

.link {
  color: #4f46e5;
  text-decoration: none;
  cursor: pointer;
}